<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-fcm-custom"
        version="5.6.2">

  <name>Cordova FCM</name>

  <description>
    Share text, images (and other files), or a link via the native sharing widget of your device.
    Android is fully supported, as well as iOS 6 and up. WP8 has somewhat limited support.
  </description>

  <author>Eddy Verbruggen</author>

  <license>MIT</license>

  <keywords>Social, Share, Twitter, Facebook, Email, SMS, WhatsApp, Tumblr, Pocket, LinkedIn</keywords>

  <repo>https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git</repo>

  <issue>https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/Fcm.js" name="Fcm">
    <clobbers target="window.plugins.fcm" />
  </js-module>

  <!-- ANDROID CONFIGURATION -->
  <platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:exported="true" android:name="com.gae.scaffolder.plugin.FCMPluginActivity" android:launchMode="singleTop">
				<intent-filter>   
					<action android:name="FCM_PLUGIN_ACTIVITY" />  
					<category android:name="android.intent.category.DEFAULT" />
				</intent-filter>			
			</activity>
			<service android:name="com.gae.scaffolder.plugin.MyFirebaseMessagingService">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT"/>
				</intent-filter>
			</service>
			<service android:name="com.gae.scaffolder.plugin.MyFirebaseInstanceIDService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
				</intent-filter>
			</service>
		</config-file>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="FCMPlugin" >
				<param name="android-package" value="com.gae.scaffolder.plugin.FCMPlugin"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
			
		<framework src="src/android/FCMPlugin.gradle" custom="true" type="gradleReference"/>
			
		<source-file src="src/android/google-services.json" target-dir="." />
		<source-file src="src/android/FCMPlugin.java" target-dir="src/com/gae/scaffolder/plugin" />
		<source-file src="src/android/MyFirebaseMessagingService.java" target-dir="src/com/gae/scaffolder/plugin" />
		<source-file src="src/android/MyFirebaseInstanceIDService.java" target-dir="src/com/gae/scaffolder/plugin" />
		<source-file src="src/android/FCMPluginActivity.java" target-dir="src/com/gae/scaffolder/plugin" />

  </platform>

</plugin>
